
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
/*------ Variables */

:root {
  /*------ Colores */
  --green-color: #7ACC2D;
  --black-color: #313337;
  --white-color: white;
  /*------ Tipografía */
  --normal: 12px;
  /*------ Espaciado */
  --space: 10px;
  --space-2: 20px;
  /*------ Box shadow*/
  --box: 0px 0 2px 1px #e6e5e9;
}

/* -------------------------------------------  */

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: var(--white-color);
  background-color:rgb(239, 240, 243);
}

hr {
  border: 2px solid var(--white-color);
  width: 98%;
  opacity: .2;
}

#logo {
  height: 68px;
}

#logo_h1 {
  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.colorLetra {
  color: var(--black-color)
}

p, label {
  font-size: var(--normal);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space);
  min-height: 60px;
  background-color:var(--black-color);
  border-bottom: 2px solid whitesmoke;
  font-family:B612;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  
}

nav a:hover {
  color: var(--white-color);
}

nav ul {
  display: flex;
}

nav ul li {
  padding-right: 20px;
  list-style: none;
}

/* ------------------------------------------- MAIN SECTION */

.main_section {
  text-align: center;
  padding: 15%;
}

.main_section_compra{
  text-align: center;
  padding: 0.5%;
}

/* -------------------------------------------  PRODUCTOS */

.list-group {
  display: inline-block;
}

.products {
  background-image: url("../Imagenes/curve.png");
  padding: 5%;
  background-position: center top;
  background-repeat: no-repeat;
  display: flex;
  height: 95px;
  background-size: cover;
  margin-bottom: 50px;
}

.product {
  padding: 20px;
  margin-top: -226px;
}

.image-product {
  text-align: center;
}

.content {
  padding: 20px;
  background: var(--white-color);
  border-radius: 3px;
  box-shadow: 0px 0 2px 1px #e6e5e9;
}

.main_btn {
  padding: var(--space);
  background-color: var(--black-color);
  width: 100%;
  border: 0px;
  border-radius: 2px;
  cursor: pointer;
  color: var(--white-color);
}

.main_btn:hover {
  background-color: gray;
}

/* Beneficios */

.beneficios {
  padding: 0%;
  display: flex;
}

.beneficio {
  text-align: center;
  padding: 20px;
}

.beneficio img {
  max-height: 100px
}

.text_beneficio {
  text-align: justify;
}

/* Mentions */

.mentions {
  display: flex;
  padding: 0%;
}

.mention img {
  width: 100%;
}

h2.mention_title {
  text-align: center;
}

.mention {
  padding: var(--space);
}

.content_mention {
  box-shadow: 0px 0 2px 1px #e6e5e9;
}

.mention .text {
  padding: var(--space);
}

/* ------------------------------------------- Venta */

.modulo_pago {
  background-color: var(--white-color);
  box-shadow: var(--box);
  padding: var(--space-2);
}

.modulo_pago_images {
  max-width: 150px;
  text-align: center;
  width: 100%;
  margin: auto;
}

.data {
  margin-top: var(--space);
  width: 100%;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid var(--black-color);
  box-sizing: border-box;
}

.modulo_pago .main_btn {
  margin-top: 10px;
}

/* ------------------------------------------- Formulario */




/* -------------------------------------------  FAQS*/
.acordeon{
  background-color: black;
}
/* -------------------------------------------  PRODUCTO html*/

.colorProducto {
  color: black;
}

.titulosProducto {
  color: white;
}

.btn {
  width: 100%;
}

.music {
  display: flex;
}

/* ------------------------------------------- Footer */

footer {
  display: block;
  background-color: black;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  width: 100%;
  border-top: 2px solid whitesmoke;
  text-align: center;
  font-size: var(--normal);
}

footer a {
  color: var(--white-color);
}

footer a:hover {
  color: red;
}

.fa {
  padding: 20px;
  font-size: 90px;
  text-align: center;
  text-decoration: none;
}
